@inherits LayoutComponentBase

<div class="grid-layout">
    <header class="header-content"/>
    <main class="main-content">
        <aside class="aside-content"/>
        <content class="content">
            @Body
        </content>
    </main>
    <footer class="footer-content" />
</div>